<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Caimito : PerfX360 Performance Test Product</title>
    <link rel="shortcut icon" href="<%= locals.context%>app-assets/images/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<%= locals.context%>app-assets/images/ico/favicon.ico" type="image/x-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/sliders/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/extensions/pace.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/tables/extensions/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/forms/icheck/custom.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/extensions/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/extensions/unslider.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/vendors/css/weather-icons/climacons.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/colors.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/core/menu/menu-types/vertical-content-menu.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/core/colors/palette-callout.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/pages/users.css">
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>app-assets/css/pages/login-register.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="<%= locals.context%>assets/css/style.css">
    <!-- END Custom CSS-->
</head>