<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
    <%- include('partials/head') %>

    <body data-open="click" data-menu="vertical-content-menu" data-col="1-column"
          class="vertical-layout vertical-content-menu 1-column fixed-navbar">

        <%- include('partials/slidepanel') %>

        <%- include('partials/navbar') %>

        <%- include('partials/search') %>

        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <div class="app-content content container-fluid">
            <%- body %>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////-->

        <%- include('partials/footer') %>

    </body>
</html>
