<div class="card-block">
    <div class="card-text">
        <p>Test creation.</p>
        <%- include('../common/message') %>
    </div>
    <form class="form form-horizontal">
        <div class="form-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="name">Name</label>
                        <div class="col-md-9">
                            <input type="text" id="name" class="form-control required" placeholder="Test Name" name="name" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="application">Applications</label>
                        <div class="col-md-9">
                            <select id="application" name="application" class="form-control" required>
                                <% if (locals.params.applications) {
                                    var applications = locals.params.applications;
                                for(var i=0; i < applications.length; i++) {
                                    var application = applications[i];  %>

                                <option value="<%= application._id %>"><%= application.name %>%></option>
                                <% }
                                } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 label-control">Environment</label>
                        <div class="col-md-9">
                            <select id="environment" name="environment" class="form-control" required>
                                <% if (locals.params.environments) {
                                    var environments = locals.params.environments;
                                for(var i=0; i < environments.length; i++) {
                                    var environment = environments[i];  %>

                                <option value="<%= environment._id %>"><%= environment.name %>%></option>
                                <% }
                                } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="description">Description</label>
                        <div class="col-md-9">
                            <textarea id="description" rows="6" class="form-control col-md-9" name="description" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="form-section"><i class="icon-eye6"></i> Load Configuration</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="users">Virtual Users</label>
                        <div class="col-md-9">
                            <input type="text" id="virtualUsers" class="form-control" placeholder="Virtual Users" name="virtualUsers">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="rampUpPeriod">Ramp Up Period</label>
                        <div class="col-md-9">
                            <input type="text" id="rampUpPeriod" class="form-control" placeholder="Ramp Up Period" name="rampUpPeriod">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="iterations">Iterations</label>
                        <div class="col-md-9">
                            <input type="text" id="iterations" class="form-control" placeholder="Iterations" name="iterations">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="duration">Duration</label>
                        <div class="col-md-9">
                            <input type="text" id="duration" class="form-control" placeholder="Duration" name="duration">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions right">
            <button type="button" class="btn btn-primary mr-1 process-page" data-url="/test/list/<%= req.session.project._id %>"
                    data-method="GET" data-title="View Tests" data-datatable="test-list">
                <i class="icon-arrow-left4"></i> Back
            </button>
            <button type="button" class="btn btn-warning mr-1 side-panel-trigger">
                <i class="icon-cross2"></i> Cancel
            </button>
            <button type="button" class="btn btn-primary process-page" data-url="/test" data-method="POST" data-title="Create Test" data-form="true">
                <i class="icon-check2"></i> Save
            </button>
        </div>
    </form>

</div>