<form class="form form-horizontal" id="test-execute">
    <div class="form-body mr-1 mt-1 ml-1">
        <h4 class="form-section"><i class="icon-eye6"></i> Load Configuration </h4>
        <%
        if (locals.params.test && locals.params.test.length > 0) {
            var test = locals.params.test[0];
            %>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="users">Number of Virtual Users</label>
                        <input type="hidden" id="projectId" class="form-control" name="projectId" value="<%= req.session.project._id %>">
                        <input type="hidden" id="testId" class="form-control" name="testId" value="<%= test._id %>">
                        <input type="text" id="virtualUsers" class="form-control" placeholder="Virtual Users" name="virtualUsers" value="<%= test.virtualUsers %>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rampUpPeriod">Ramp-Up Period</label>
                        <input type="text" id="rampUpPeriod" class="form-control" placeholder="Ramp Up Period" name="rampUpPeriod" value="<%= test.rampUpPeriod %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="iterations">Iterations</label>
                        <input type="text" id="iterations" class="form-control" placeholder="Iterations" name="iterations" value="<%= test.iterations %>">
                        <label for="forever">Forever</label>
                        <input type="checkbox" id="forever" class="form-control" name="forever" Value="Forever">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="text" id="duration" class="form-control" placeholder="Duration" name="duration" value="<%= test.duration %>">
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <div class="form-actions mr-1 ml-1 right">
        <button type="button" class="btn btn-warning mr-1 popover-close-btn">
            <i class="icon-cross2"></i> Close
        </button>

        <button type="button" class="btn btn-danger btn-min-width mr-1 ladda-button execute-test" data-url="/rest/api/v1/perf/jmeter/mvn/exec" data-method="POST" data-refreshurl="/project/details" data-form="test-execute" data-loading="test-execute">
            <span class="ladda-label"><i class="icon-rocket2"></i> Save & Execute
            </span>
        </button>
    </div>
</form>
