<div class="card-block">
    <div class="card-text">
        <p>Basic information of a project which can hold software components and groups to be (performance) tested.</p>
        <%- include('../common/message') %>
    </div>
    <form class="form form-horizontal" action="/project/create" method="post">
        <div class="form-body">
            <h4 class="form-section"><i class="icon-head"></i> Project</h4>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="projectName">Name</label>
                <div class="col-md-9">
                    <input type="hidden" id="createdBy" class="form-control required" name="createdBy" value="<%= req.session.user._id %>">
                    <input type="hidden" id="id" class="form-control required" name="id" value="<%= locals.project._id %>">
                    <input type="text" id="name" class="form-control required" placeholder="Project Name" name="name" value="<%= locals.project.name %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="projectDesc">Description</label>
                <div class="col-md-9">
                    <textarea id="description" rows="5" class="form-control" name="description" placeholder="Project Description"><%= locals.project.description %></textarea>
                </div>
            </div>
        </div>

        <div class="form-actions right">
            <button type="button" class="btn btn-warning mr-1 side-panel-trigger">
                <i class="icon-cross2"></i> Cancel
            </button>
            <button type="button" class="btn btn-primary process-page" data-url="/project" data-method="PUT" data-title="Edit Project" data-form="true" data-refreshurl="/auth/index">
                <i class="icon-check2"></i> Save
            </button>
        </div>
    </form>
</div>