<div class="content-wrapper">

    <%  var project = locals.params.project;
        var tests = locals.params.tests;
        var testId;
        if (locals.params.testId) {
            testId = locals.params.testId;
        }
    %>

    <div class="row">
        <div class="col-sm-12 right">

            <div class="form-group form-group-right">
                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                    <!-- Button group with icons -->
                    <div class="btn-group mr-1">

                        <select class="form-control" id="selected-test" tabindex="-1" aria-hidden="true" data-project="<%= project._id %>">
                            <option value="-1">Select Test</option>
                            <%

                                console.info('project.components.length = ', tests.length);
                                for(var i=0; i < tests.length; i++) {
                                var test = tests[i];
                            %>
                                <option value="<%= test._id %>" <%= (test._id == testId) ? "selected" : ""%> ><%= test.name %> - <%= test.environment.name %></option>

                            <% } %>
                        </select>
                    </div>
                    <!--
                    <div class="btn-group mr-1 mb-1">
                        <div class="btn-group">
                            <span class="dropdown">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Scrollable Menu <span class="caret"></span></button>
                            <div class="dropdown-menu scrollable-menu mt-1 dropdown-menu-right" role="menu">
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Another action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Something else here</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Another action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Something else here</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Another action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Something else here</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Another action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Something else here</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Action</a>
                                <a class="dropdown-item" href="#"><i class="icon-calendar5"></i> Another action</a>
                            </div>
                            </span>
                        </div>
                    </div>-->

                    <button type="button" class="btn btn-danger mr-1 execute-test" data-container="body" data-url="/test/execute" data-method="GET" data-title="Execute Test" data-popover="true" id="shown-popover" <%= (testId) ? "" : "disabled" %>><i class="icon-rocket2"></i> Execute</button>
                    <div class="btn-group mr-1">
                      <span class="dropdown">
                          <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-secondary btn-block btn-sm dropdown-toggle dropdown-menu-right"><i class="icon-cloud-download3 red"></i> Configure</button>
                          <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
                              <a href="#" class="dropdown-item side-panel-trigger process-page" data-url="/application/list/<%= project._id %>" data-method="GET" data-title="<%= project.name %> : Applications" data-datatable="application-list"><i class="icon-calendar5"></i> Applications</a>
                              <a href="#" class="dropdown-item side-panel-trigger process-page" data-url="/environment/list/<%= project._id %>" data-method="GET" data-title="<%= project.name %> : Environments" data-datatable="environment-list"><i class="icon-shuffle3"></i> Environments</a>
                              <a href="#" class="dropdown-item side-panel-trigger process-page" data-url="/test/list/<%= project._id %>" data-method="GET" data-title="<%= project.name %> : Tests" data-datatable="test-list"><i class="icon-bar-graph"></i> Test</a>
                          </span>
                      </span>
                    </div>
                    <div class="btn-group mr-1">
                        <button type="button" class="btn btn-secondary"><i class="icon-eye6"></i> Results</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="icon-plus4"></i> Create</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary mr-1"><i class="icon-calendar5"></i> Schedule</button>
                    <button type="button" class="btn btn-secondary"><i class="icon-eye"></i> Print</button>
                </div>
            </div>
        </div>
    </div>

    <section class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="title-header">
                    <h4><a href="/auth/index">Back</a> <%= project.name %> : <%= params.testName %></h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="project-summary-tab" data-toggle="tab" href="#project-summary" aria-controls="project-summary" aria-expanded="true"><i class="icon-table2"></i> Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project-timeline-tab" data-toggle="tab" href="#project-timeline" aria-controls="project-timeline" aria-expanded="false"><i class="icon-timeline"></i> Timeline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project-logs-tab" data-toggle="tab" href="#project-logs" aria-controls="project-logs" aria-expanded="false"><i class="icon-file-text2"></i> Logs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project-system-tab" data-toggle="tab" href="#project-system" aria-controls="project-system" aria-expanded="false"><i class="icon-display"></i> System Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project-network-tab" data-toggle="tab" href="#project-network" aria-controls="project-network" aria-expanded="false"><i class="icon-stats-bars2"></i> Network Metrics</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1">
                            <div role="tabpanel" class="tab-pane fade active in" id="project-summary" aria-labelledby="project-summary-tab" aria-expanded="true">
                                <%- include('dashboards/summary') %>
                            </div>
                            <div class="tab-pane fade" id="project-timeline" role="tabpanel" aria-labelledby="project-timeline-tab" aria-expanded="false">
                                <%- include('dashboards/timeline') %>
                            </div>
                            <div class="tab-pane fade" id="project-logs" role="tabpanel" aria-labelledby="project-logs-tab" aria-expanded="false">

                            </div>
                            <div class="tab-pane fade" id="project-system" role="tabpanel" aria-labelledby="project-system-tab" aria-expanded="false">

                            </div>
                            <div class="tab-pane fade" id="project-network" role="tabpanel" aria-labelledby="project-network-tab" aria-expanded="false">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>